body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: #2e444f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.hamburger-menu {
    font-family: 'inter';
    font-size: 7vh;
    font-weight: lighter;
    color: white;
    cursor: pointer;
    padding-left: 3vw;
    transition: 0.3s;
}

.hamburger-menu:hover {
    color: #ff8700;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 12vh;
}

.order-now {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    margin-right: 3vh;
}


.order-now-button, .order-options {
    width: 100%;
}

.order-now-button {
    animation: flashOrange 5s infinite;
    background-color: white;
    padding: 1.5vh 3vh;
    border: none;
    box-shadow: inset 0 0 0 0.5vh black;
    cursor: pointer;
    font-size: 4vh;
    font-weight: bolder;
    border-radius: 4vh;
    transition: 0.3s;
}

.order-options {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    white-space: nowrap;
}

.order-now:hover .order-now-button {
    background-color: white;
    border-radius: 4vh 4vh 0 0;
    box-shadow: inset 0 0 0 0px black;
}

.order-now:hover .order-options {
    opacity: 1;
    visibility: visible;
}

.order-option {
    display: block;
    text-align: center;
    font-family: 'inter';
    font-weight: 300;
    font-size: 2.5vh;
    width: 100%;
    padding: 1.5vh 3vh;
    cursor: pointer;
    background-color: white;
    border: none;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.order-option:hover {
    background-color: #f5f5f5;
    font-weight: 400;
}

.sushi-image-container {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('sushi.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.sushi-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.sushi-text {
    display: flex;
    z-index: 2;
    flex-direction: column;
    color: white;
    font-size: 9vh;
    font-weight: bolder;
    margin: 0;
    padding-left: 8vw;
    margin-top: -4vh;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    margin-top: 3vh;
}

.hours, .contact {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: left;
}

.text-wrapper {
    max-width: 100%;
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 1vh;
}

.social-icons img {
    width: auto;
    height: 3vw;
    margin-right: 3vw;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 3vw;
    margin-bottom: 3vh; 
    margin-top: -1.5vh;
    color: #ff8700;
    text-shadow: 0.1vh 0.1vh 0 #2e444f;
}

p {
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 1.7vw;
    margin-bottom: 3vh; 
}

.image-container img {
    width: 90%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 0 100px 0 100px;
}

.image-container-2 {
    flex: 1;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

.image-container-2 img {
    width: 90%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 0 100px 0 100px;
}

.dot-navigation {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.dot {
    height: 2vh;
    width: 2vh;
    margin: 0 2.5vh;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 0.5vh solid white;
    transition: 0.3s;
}

.dot:hover {
    background-color: transparent;
}

.dot-active {
    height: 2vh;
    width: 2vh;
    margin: 0 2.5vh;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border: 0.5vh solid white;
}

.narrow-text {
    display: none;
    margin-top: 2vh;
}

@keyframes flashOrange {
    0%, 100% { color: black; }
    20% { 
        color: #ff8700; 
        text-shadow: 1px 1px 0 #2e444f;
    }
}

@media (max-aspect-ratio: 1.2) {
    .content {
        flex-direction: column;
    }
    .contact {
        display: none;
    }
    .narrow-text {
        display: block;
    }
    h2 {
        font-size: 4vw;
    }
    p {
        font-size: 2.5vw;
    }
    .image-container img {
        height: 50vh;
        width: 50vw;
        margin-left: 5vw;
        object-fit: cover;
        object-position: center;
    }
    .sushi-text {
        font-size: 7vh;
    }
    .dot {
        height: 1vh;
        width: 1vh;
    }
    .dot-active {
        height: 1vh;
        width: 1vh;
    }
    .social-icons img {
        height: 5vw;
        margin-right: 5vw;
    }
}

@media (max-aspect-ratio: 0.9) {
    .logo {
        position: absolute;
        left: 40%;
        transform: translateX(-50%);
    }
    .order-now-button {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vh;
    }
    .content {
        flex-direction: column;
    }
    .contact {
        display: none;
    }
    .narrow-text {
        display: block;
    }
    h2 {
        font-size: 4vw;
    }
    p {
        font-size: 2.5vw;
    }
    .text-wrapper {
        margin-top: 5vh;
    }
    .image-container img {
        height: 50vh;
        width: 45vw;
        margin-left: 5vw;
        object-fit: cover;
        object-position: center;
    }
    .social-icons img {
        height: 5vw;
        margin-right: 5vw;
    }
}

@media (max-aspect-ratio: 0.65) {
    .logo {
        position: absolute;
        left: 40%;
        transform: translateX(-50%);
    }
    .order-now-button {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vh;
    }
    .content {
        flex-direction: column;
    }
    .contact {
        display: none;
    }
    .narrow-text {
        display: block;
    }
    h2 {
        font-size: 8vw;
    }
    p {
        font-size: 5vw;
    }
    .text-wrapper {
        margin-top: 3vh;
    }
    .image-container {
        display: none;
    }
    .image-container-2 {
        display: flex;
    }
    .social-icons img {
        height: 7vw;
        margin-right: 7vw;
    }
}
